.horizontal-banner {
  background-image: url(../img/isoplam.png);
  background-color: #cccccc;
  height: 135px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.viber-logo {
  width: 62px; 
  margin-left: 10px;
}

.whatsapp-logo {
  width: 85px; 
  margin-left: 10px;
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}